@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis&family=Inter&family=Nunito&family=Roboto:wght@300;400&family=Satisfy&display=swap');


body {
    margin: 0;
    /* background-color: #000000; */
    background: radial-gradient(137.79% 137.79% at 52.26% 50%, #1223aa 0%, #0C3066 32.17%);
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.container {
    display: flex;
    width: inherit;
    height: inherit;
}

.logo img {
    height: 150px;
}

.nav_bar_lateral {
    width: 15%;
    height: 745px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;
    border-right: 4px solid #ffffff
}

.topicos {
    display: flex;
    flex-direction: column;
    font-family: "Bebas Neue";
    font-size: 30px;
    gap: 40px;
    align-items: center;
}

.topicos a {
    text-decoration: none;
    color: #ffffff;
}

.rodape_nav_bar_lateral a {
    text-decoration: none;
    color: #ffffff;
}

.rodape_nav_bar_lateral {
    font-family: "Bebas Neue";
    font-size: 39px;
}

.rodape_nav_bar_lateral a {
    position: relative;
}

.hoverzin::after {
    content: "";
    position: absolute;
    width: 0;
    height: 6px;
    left: 0;
    background-color: #A49513;
    transition: 0.7s ease-in-out;
    bottom: -5px;
    border-radius: 5px;
}

.hoverzin:hover::after {
    width: 100%;
}

.primeiroEsegundoRanking {
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 40%;
    width: 85%;
    /* align-items: center; */
    justify-content: center;
    padding: 50px 0px 0px 0px ;
}

table {
    width: 400px;
    border-collapse: collapse;
    color: #ffffff;
}

td {
    border: 2px solid white;
    padding: 8px;   
}

.rodape_nav_bar_lateral a {
    position: relative;
}

.topicos a {
    position: relative;
}

.hoverzin::after {
    content: "";
    position: absolute;
    width: 0;
    height: 6px;
    left: 0;
    background-color: #A49513;
    transition: 0.7s ease;
    bottom: -5px;
    border-radius: 5px;
}

.hoverzin:hover::after {
    width: 100%;
}

.atual {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: black;
    border: 3px solid #A49513;
    transition: 1s;
}

.titulosRanking {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.terceiroRanking {
    height: 30vh;   
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.ajuste {
    display: flex;
    justify-content: space-around;
}
