@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Nunito&family=Roboto:wght@300;400&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis&family=Inter&family=Nunito&family=Roboto:wght@300;400&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis&family=Nunito&family=Orbitron:wght@500&family=Roboto:wght@300;400&family=Satisfy&display=swap');

body {
    margin: 0;
}

.jogo_select {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    width: 100%;
}

.coluna_caracteristicas {
    display: flex;
    flex-direction: column;
    height: 40%;
    font-family: "Dosis";
    font-size: 20px;
}

.coluna_casa1 {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 5px;
}

.coluna_casa1 select{
    width: 200px;
    height: 21px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.coluna_casa1 .titulo_casas {
    font-size: 20px;
    font-weight: 900;
    font-family: "Dosis";
}

.pai_de_tudo {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.topo {
    display: flex;
    justify-content: space-evenly;
    font-family: "Bebas Neue";
    font-size: 40px;
}

.topo h2 {
    color: #172953;
}

.instrucoes_jogo_select {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-family: "Nunito";
    font-size: 17.3px;
}

.lado_esquerdo_instrucoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lado_direito_instrucoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    display: flex;
    align-items: center;
}

.timer button {
    display: flex;
    font-family: "Orbitron";
    align-items: center;
    color: #172953;
    font-weight: bold;
    width: 180px;
    justify-content: center;
    background: none;
    height: 60px;
    gap: 5px;
    font-size: 40px;
    border: 4px solid #172953;
    border-radius: 15px;
    cursor: pointer; 
}